




body {
    background-color: rgb(214, 214, 214);
    color: rgb(5, 35, 61);
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;

}

header {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(5, 35, 61);
}

h1 {
    color: rgb(5, 35, 61);
    font-size: 2em;
    font-weight: bold;
}

h3 {
    color: rgb(5, 35, 61);
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(5, 35, 61);
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

p {
    margin: 5px 0;
    line-height: 1.5;
}


